.signupform, #here {
    justify-content: center;
    text-align: center;
    margin-top: 75px;
    font-family: 'Roboto', sans-serif;
}

#signin{
    font-size: 22px;
}

#p {
    margin-top: -6px;
}
#p2{
    margin-top: 5px;
    font-size: 15px;

}

#googlebtn{
    color:#fff;
    background-color: #CB3F23;
    padding: 17px 120px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    border: none;
}

#googlebtn i{
    font-size: 21px;
    margin-right: 5px;
}
#googlebtn:hover{
    box-shadow: 1px 1px 3px grey;
}

#facebookbtn {
    color:#fff;
    background-color: #4167B2;
    padding: 17px 114px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 15px;
    border: none;
}

#facebookbtn i {
    font-size: 21px;
    margin-right: 5px;
}

#facebookbtn:hover{
    box-shadow: 1px 1px 3px grey;
}

#or {
  text-align: center;
  margin-top: 42px;
}

h4:before{
    content: "";
   display: block;
   width: 190px;
   height: 2px;
   background: #000;
   position: absolute;
   left: 0;
   top: 50%;
   margin-left: 470px;
   margin-top: 70px;
}

h4:after{
    content: "";
   display: block;
   width: 190px;
   height: 2px;
   background: #000;
   position: absolute;
   right: 0;
   top: 50%;
   margin-right: 470px;
   margin-top: 70px;
}

#submitbtn{
    color:#fff;
    background-color: #44C2B7;
    padding: 17px 144px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 15px;
    border: none;
}

#submitbtn:hover{
    color: #fff;
    box-shadow: 1px 3px 3px grey;
    background-color: gainsboro;
    transition-duration: 1s ease-in-out;
}

#link {
    color: black;
    font-size: 15px;
    font-weight: bold;
}

#img{
   text-align: center;
   margin-top: 15px;
}

input {
    padding: 10px 0px;
    margin-bottom: 30px;
    width: 31%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
}

#box div input {
 position: relative;
}

#box div label {
    position: absolute;
    left: 0;
    padding-left: 470px;
    margin-top: 10px;
    color: #999;
    transition: .5s;
    pointer-events: none;
    color: black;
    font-weight: bold;
}

input:focus{
    outline: 0;
    border-bottom: 2px solid black;
}

input:focus ~ label {
top: -5px;
left: 0;
font-size: 11px;
}

#here  {
 justify-content: center;
 text-align: center;
 align-items: center;
 margin-top: 75px;
 margin-right: 17px;
}

#retrievebtn{
    color:#fff;
    background-color: #44C2B7;
    padding: 17px 105px;
    border-radius: 5px;
    margin-top: -8px !important;
    cursor: pointer;
    font-size: 18px;
    margin-top: 15px;
    border: none;
    box-shadow: 2px 2px 2px grey;
}

#retrievebtn:hover {
    color: #fff;
    box-shadow: 2px 3px 3px grey;
    background-color: gainsboro;
    transition-duration: 1s ease-in-out;
}

#box1 input {
    width: 395px;
    margin-left: 70px;
    margin-top: 5px;
}

.user-input-wrp {
	position: relative;
	width: 25%;
  text-align: center;
}
.user-input-wrp .inputText{
	width: 117%;
    outline: none;
    margin-left: 472px;
	border:none;
	border-bottom: 2px solid black;
 	box-shadow: none !important;
}
.user-input-wrp .inputText:focus{
	border-color: black;
	border-width: medium medium 2px;
}
.user-input-wrp .floating-label {
	position: absolute;
	pointer-events: none;
    top: 15px;
	left: 15px;
    transition: 0.15s ease all;
    margin-left: 460px;
}
.user-input-wrp input:focus ~ .floating-label,
.user-input-wrp input:not(:focus):valid ~ .floating-label{
	top: -10px;
	left: 10px;
	font-size: 13px;
	opacity: 1;
}

#box .user-input-wrp  {
    position: relative;
}

#box .user-input-wrp .inputText {
width: 420px;
margin-left: 457px;
padding: 15px 0px;
}

#box .user-input-wrp .floating-label {
    position: absolute;
	pointer-events: none;
    margin-left: -10px;
    transition: 0.1s ease all;
}
