#pwreset {
    justify-content: center;
    text-align: center;
    margin-top: 75px;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 20px;
}

p{
font-weight:bold;
margin-top: 25px;
}

input {
    padding: 10px 0px;
    margin-bottom: 30px;
    width: 31%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
}

#pwreset input {
    position: relative;
   }
   
   #pwreset label {
       position: absolute;
       left: 0;
       padding-left: 475px;
       margin-top: 10px;
       color: #999;
       transition: .5s;
       pointer-events: none;
       color: black;
       font-weight: bold;
   }
   
   input:focus{
       outline: 0;
       border-bottom: 2px solid black;
   }
   
   input:focus ~ label {
   top: -5px;
   left: 0;
   font-size: 11px;
   }

   #resetbtn{
    color:#fff;
    background-color: #44C2B7;
    padding: 17px 144px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: -31px;
    border: none;
   }

   #resetbtn:hover{
    color: #fff;
    box-shadow: 1px 3px 3px grey;
    background-color: gainsboro;
    transition-duration: 1s ease-in-out;
}



